* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: burlywood;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.ul-navbar {
  display: flex;
}

.header-navbar {
  margin: 1rem;
}

.ul-navbar li {
  list-style-type: none;
  margin: 1rem;
}

.ul-navbar a {
  text-decoration: none;
  color: black;
}

.titulo {
  display: flex;
  justify-content: center;
}